body {
    background-color: aliceblue;
}
.minefield-container {
    align-items: center;
    display: flex;
    justify-content: center;   
    flex-direction: column;
}

.title {
    font-size: 2em;
}

.minefield-ui {
    align-items: center;
    display: flex;
    justify-content: center;   
    flex-direction: row;
}

.display-bombs {    
    font-size: x-large;
}

.button-replay {    
    margin: 21px;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bolder;
    border: none;
}

.button-replay:hover {    
    margin: 20px;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bolder;
    border: 1px gray solid;
}

.button-replay:active {    
    background-color: rgba(100, 100, 100, 0.5);
}

.minefield {    
    border-spacing:0px;
    box-shadow: 0px 0px 20px black;
}

.minefield td {
    padding:0
}

.spot {
    width: 20px;
    height: 20px;
}
.spot-covered {    
    background-color: gray;
    border: 3px outset lightgray;        
}

.spot-flagged {    
    background-color: gray;
    border: 3px outset lightgray;
    text-align: center; 
    vertical-align: middle;    
    color: red;
}

.spot-uncovered {    
    background-color: lightgray; 
    border: 0.5px solid gray;
    padding: 2.5px;
    font-weight: 900;
    font-size: large;
    text-align: center;    
}

.spot-one {        
    color: blue;
}
.spot-two {        
    color: green;
}
.spot-three {        
    color: red;
}
.spot-four {        
    color: blue;
}
.spot-five {        
    color: brown;
}
.spot-six {        
    color: rgb(0, 179, 179);
}
.spot-seven {        
    color: brown;
}
.spot-eight {        
    color: black;
}