<!DOCTYPE html>
<html ng-app>
  <head>
    <link href="minesweeper.css" rel="stylesheet" type="text/css">
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <script src='minseweeper.js'></script>      
  </head>
    <body ng-controller="MinesweeperController">               
        <div class="minefield-ui">            
            <table class="minefield">
                <thead>
                    <tr>
                        <th colspan="10">Minesweeper</th>
                    </tr>
                    <tr>
                        
                            <th colspan="3" class="end-game-message" ng-if="isWinMessageVisible">You won!</th>
                            <th colspan="3" class="end-game-message" ng-if="hasLostMessageVisible">You Lost!</th>
                            
                        
                    </tr>
                    <tr>
                        <th><button class="button-replay"ng-if="hasLostMessageVisible || isWinMessageVisible" ng-click="replay()">Replay</button></th>
                    </tr>
                </thead>
                <tr ng-repeat="row in minefield.rows">
                    <td ng-repeat="spot in row.spots" ng-click="uncoverSpot(spot, $parent.$index, $index)">
                        <div class="spot spot-covered" ng-if="spot.isCovered"></div>
                        <div class="spot spot-uncovered" ng-if="!spot.isCovered && spot.content === 'empty'"></div>
                        <i class="fas fa-bomb spot spot-uncovered spot-mine"  ng-if="!spot.isCovered && spot.content === 'mine'"></i>                    
                        <div class="spot spot-uncovered spot-one"   ng-if="!spot.isCovered && spot.content === 1">1</div>
                        <div class="spot spot-uncovered spot-two"   ng-if="!spot.isCovered && spot.content === 2">2</div>
                        <div class="spot spot-uncovered spot-three" ng-if="!spot.isCovered && spot.content === 3">3</div>
                        <div class="spot spot-uncovered spot-four"  ng-if="!spot.isCovered && spot.content === 4">4</div>
                        <div class="spot spot-uncovered spot-five"  ng-if="!spot.isCovered && spot.content === 5">5</div>
                        <div class="spot spot-uncovered spot-six"   ng-if="!spot.isCovered && spot.content === 6">6</div>
                        <div class="spot spot-uncovered spot-seven" ng-if="!spot.isCovered && spot.content === 7">7</div>
                        <div class="spot spot-uncovered spot-eight" ng-if="!spot.isCovered && spot.content === 8">8</div>
                    </td>
                </tr>
            </table>            
        </div>
        <br/>        
    </body>
</html>