<!DOCTYPE html>
<html ng-app="minesweeper">
  <head>
    <link href="minesweeper.css" rel="stylesheet" type="text/css">
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <script src='minseweeper.js'></script>      
  </head>
    <body ng-controller="minesweeperController">                           
        <div class="minefield-container">   
            <h3 class="title">Minesweeper</h3>  
            <p class="end-game-message" ng-if="isWinMessageVisible">You won!</p>
            <p class="end-game-message" ng-if="hasLostMessageVisible">You Lost!</p>  
            <div class="minefield-ui">                
                <button class="button-replay" ng-click="replay(numberOfMines)">Replay</button> 
                
                <i class="fas fa-bomb display-bombs">{{minefield.numberOfMines}}</i>      
                <input type="number" ng-change="replay(numberOfMines)" 
                    ng-model="numberOfMines" 
                    value={{minefield.numberOfMines}}
                    min="10"
                    max={{minefield.maxNumberOfSpots - 1}}
                    style="width: 40px">  
            </div>                           
            <table class="minefield">                
                <tr ng-repeat="row in minefield.rows">
                    <td ng-repeat="spot in row.spots" ng-mouseup="handleClick($event, spot, $parent.$index, $index)" oncontextmenu='return false'>
                        <div class="spot spot-covered" ng-if="spot.isCovered && !spot.isFlagged"></div>
                        <i class="fab fa-font-awesome-flag spot spot-flagged" ng-if="spot.isFlagged"></i>
                        <div class="spot spot-uncovered" ng-if="!spot.isCovered && spot.content === 'empty'"></div>
                        <i class="fas fa-bomb spot spot-uncovered spot-mine"  ng-if="!spot.isCovered && spot.content === 'mine'"></i>                    
                        <div class="spot spot-uncovered spot-one"   ng-if="!spot.isCovered && spot.content === 1">1</div>
                        <div class="spot spot-uncovered spot-two"   ng-if="!spot.isCovered && spot.content === 2">2</div>
                        <div class="spot spot-uncovered spot-three" ng-if="!spot.isCovered && spot.content === 3">3</div>
                        <div class="spot spot-uncovered spot-four"  ng-if="!spot.isCovered && spot.content === 4">4</div>
                        <div class="spot spot-uncovered spot-five"  ng-if="!spot.isCovered && spot.content === 5">5</div>
                        <div class="spot spot-uncovered spot-six"   ng-if="!spot.isCovered && spot.content === 6">6</div>
                        <div class="spot spot-uncovered spot-seven" ng-if="!spot.isCovered && spot.content === 7">7</div>
                        <div class="spot spot-uncovered spot-eight" ng-if="!spot.isCovered && spot.content === 8">8</div>
                    </td>
                </tr>
            </table>            
        </div>
        <br/>        
    </body>
</html>